<div class='new_container'>
  <h1>Add Ingredients</h1>
  <%= form_with model: @recipe_food, url: user_recipe_recipe_foods_path(params[:user_id], params[:recipe_id]), local: true, method: :post, scope: :recipe_food do |f| %>
    <%= f.number_field :quantity, placeholder: "Quantity", rows: "8", required: true %>
    <div class="form-group">
    <%= f.select :food_id, @foods.map { |t| [t.name, t.id]}, {}, class: "form-control" %>
    </div>
    <%= f.submit "Add food", class: 'button' %>
    <% end %> 
  <%= button_to "Back to Recipe", user_recipe_path(params[:user_id], params[:recipe_id]), method: :get%>
</div>
