<div>
  <h2 align="center">Shopping List</h2>
  <div>
    <h4>Amount of food items to buy:<span><%= @shoppings.length%></span></h4>
    <h4>Total value of food needed:<span>$<%=@total_price%></span></h4>
  </div>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @shoppings.each do |shopping| %>
        <tr>
          <td><%= shopping.food.name %></td>
          <td><%= shopping.required_quantity %> <%=shopping.food.measurement_unit%></td>
          <td>$<%= shopping.food.price * shopping.required_quantity%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
