<header>
  <div class="header">
    <div>
      <h3 class="brand">RECIPES APP</h3>
    </div>
    <div>
      <nav class="nav">
        <ul class="nav-wrapper">
          <li><%= button_to "Food", user_foods_path(current_user.id), method: :get%></li>
          <li><%= button_to "Recipes", user_recipes_path(current_user.id), method: :get%> </li>
          <li><%= link_to "Public recipes", public_recipes_path%></li>
          <li><%= link_to "Shopping list", shoppings_path%></li>
        </ul>
      </nav>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete%>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</header>
